In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2022-05-12 05:01:17,71.9167,114.0833,28.96,86,43,16.40
1,1,New Norfolk,AU,2022-05-12 05:01:18,-42.7826,147.0587,59.92,66,100,0.74
2,2,Albany,US,2022-05-12 05:00:34,42.6001,-73.9662,54.91,61,3,2.24
3,3,Georgetown,MY,2022-05-12 05:01:20,5.4112,100.3354,89.53,70,20,2.30
4,4,Rikitea,PF,2022-05-12 05:01:20,-23.1203,-134.9692,76.95,82,9,19.75

In [7]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [19]:
#1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]

#2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]


#3. Assign the figure vairable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#4. Assign the heatmap_layer variable to the heatmap_latyer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)

#5. Add the heatmap layer.
fig.add_layer(heat_layer)



#6. Clal the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#Percent Cloudiness Heat map

#1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]

#2. Assign the weights variable to some values.
clouds = city_data_df["Cloudiness"]


#3. Assign the figure vairable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#4. Assign the heatmap_layer variable to the heatmap_latyer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False, max_intensity=300, point_radius=4)

#5. Add the heatmap layer.
fig.add_layer(heat_layer)



#6. Clal the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))