In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2022-05-12 05:01:17,71.9167,114.0833,28.96,86,43,16.40
1,1,New Norfolk,AU,2022-05-12 05:01:18,-42.7826,147.0587,59.92,66,100,0.74
2,2,Albany,US,2022-05-12 05:00:34,42.6001,-73.9662,54.91,61,3,2.24
3,3,Georgetown,MY,2022-05-12 05:01:20,5.4112,100.3354,89.53,70,20,2.30
4,4,Rikitea,PF,2022-05-12 05:01:20,-23.1203,-134.9692,76.95,82,9,19.75

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]

#2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]


#3. Assign the figure vairable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#4. Assign the heatmap_layer variable to the heatmap_latyer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)

#5. Add the heatmap layer.
fig.add_layer(heat_layer)



#6. Clal the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Percent Cloudiness Heat map

#1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]

#2. Assign the weights variable to some values.
clouds = city_data_df["Cloudiness"]


#3. Assign the figure vairable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#4. Assign the heatmap_layer variable to the heatmap_latyer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False, max_intensity=300, point_radius=4)

#5. Add the heatmap layer.
fig.add_layer(heat_layer)



#6. Clal the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [10]:
#Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                        (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Georgetown,MY,2022-05-12 05:01:20,5.4112,100.3354,89.53,70,20,2.30
4,4,Rikitea,PF,2022-05-12 05:01:20,-23.1203,-134.9692,76.95,82,9,19.75
9,9,Victoria,HK,2022-05-12 05:00:45,22.2855,114.1577,80.65,93,100,8.99
11,11,Kieta,PG,2022-05-12 05:01:26,-6.2167,155.6333,84.45,66,76,5.57
12,12,Bengkulu,ID,2022-05-12 05:01:27,-3.8004,102.2655,86.36,67,79,18.54
14,14,Mahibadhoo,MV,2022-05-12 05:00:53,3.7833,72.9667,83.14,79,98,18.77
24,24,Atuona,PF,2022-05-12 04:57:04,-9.8000,-139.0333,79.07,76,32,19.69
29,29,Japura,ID,2022-05-12 05:01:40,-0.3167,102.3500,87.28,60,76,6.26
33,33,Keti Bandar,PK,2022-05-12 05:01:43,24.1447,67.4497,87.31,64,7,18.32
48,48,Riyadh,SA,2022-05-12 05:02:52,24.6877,46.7219,84.78,12,0,9.22

In [11]:
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [12]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
3    Georgetown      MY     89.53   5.4112  100.3354
4       Rikitea      PF     76.95 -23.1203 -134.9692
9      Victoria      HK     80.65  22.2855  114.1577
11        Kieta      PG     84.45  -6.2167  155.6333
12     Bengkulu      ID     86.36  -3.8004  102.2655
14   Mahibadhoo      MV     83.14   3.7833   72.9667
24       Atuona      PF     79.07  -9.8000 -139.0333
29       Japura      ID     87.28  -0.3167  102.3500
33  Keti Bandar      PK     87.31  24.1447   67.4497
48       Riyadh      SA     84.78  24.6877   46.7219

In [13]:
#Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the latitude and longitude to location key for params dictionary
    params["location"] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and ge the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Georgetown,MY,89.53,5.4112,100.3354,Cititel Penang
4,Rikitea,PF,76.95,-23.1203,-134.9692,People ThankYou
9,Victoria,HK,80.65,22.2855,114.1577,Mini Central
11,Kieta,PG,84.45,-6.2167,155.6333,Uruna Bay Retreat
12,Bengkulu,ID,86.36,-3.8004,102.2655,Grage Hotel Bengkulu
...,...,...,...,...,...,...
543,Mitsamiouli,KM,79.83,-11.3847,43.2844,Foyer ADM
546,Griffith,US,80.06,41.5284,-87.4237,Apartment above Depot Bar
549,Itarema,BR,76.62,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
553,Kahului,US,78.82,20.8947,-156.4700,Maui Seaside Hotel
564,Amalapuram,IN,86.92,16.5833,82.0167,swayamprabha service apartments

In [15]:
#Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

#Store the Dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))